* {
  box-sizing: border-box;
}

h1{
  color: #ffffff;
  font-family: 'Righteous', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  margin:15px;
}

h2{
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin:5px;
}

h3{
  margin:5px;
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

h4{
  padding-top: 15px;
  color:white;
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.012em;
}

body {
  background-color: #FB6B6B;
  margin: auto;
  margin-bottom: 65px;
}

ion-icon{
  font-size: 23px;
}

.startButton{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 246px;
  height: 54px;
  background: #FFFFFF;
  border: 1px solid #D70900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.margin-top{
  margin-top: 10%;
}

.app{
  margin:10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card{
  min-height: 65px;
  margin:15px;
  padding-left:25px;
  padding-right:25px;
  background-color: #FFFFFF;
  border-radius:10px;
  width:80%;
  color:#333333;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button{
  min-height: 37px;
  min-width: 80px;
  border-radius: 5px;
  padding:5px;
  margin:10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.red{
  background-color: red;
}

.colorRed{
  color:red;
  text-decoration: line-through;
}

.green{
  background-color: rgb(44, 139, 44);
}
.colorGreen{
  color:rgb(44, 139, 44);
  text-decoration: line-through;
}
.orange{
  background-color: orange;
}
.colorOrange{
  color:orange;
  text-decoration: line-through;
}
.beige{
  background-color: #FFFFD4;
}

ion-icon[name="close-circle"] {
  color: #FF3030;
}

ion-icon[name="help-circle"] {
  color: #FF922E;;
}

ion-icon[name="checkmark-circle"] {
  color: #2FBE34;
}

.row{
  margin:10px;
  width:90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header{
  margin:10px;
  width:90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer{
  position: fixed;
  left: 0;
  bottom:0;
  min-height: 70px;
  background-color: #FFFFFF;
  width: 100%;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

